# Tuples and Sets

## Tuples

Tuples are another type of data structure that allows you to store multiple items in a single variable.

To define a tuple in Python, you only need to declare multiple values separated by a comma:

In [1]:
t = 12345, 54321, "hello!"
t

(12345, 54321, 'hello!')

You can also enclose the values in parentheses for easier reading (and often when you use tuples within expressions):

In [2]:
t2 = (12345, 54321, "hello!")
t2

(12345, 54321, 'hello!')

In [3]:
type(t)

tuple

### Accesing Values Within Tuples

Similar to lists, you can use `[start:end:step]` to access individual items from tuples:

In [4]:
num_tuple = (0, 1, 2, 3, 4, 5)
num_tuple[0:5:2]

(0, 2, 4)

### Tuples Are Immutable

Unlike lists, you ***cannot*** directly modify items within a tuple via thier indices:

In [5]:
num_tuple[0] = 69420

TypeError: 'tuple' object does not support item assignment

You can, however, modify items on a list inside a tuple:

In [6]:
tuple_with_lists = ([1, 2, 3], [4, 3, 6], [7, 8, 9])
tuple_with_lists[1][1] = 5
tuple_with_lists

([1, 2, 3], [4, 5, 6], [7, 8, 9])

### Built-in Tuple Methods

Tuples only have two built-in methods: 

**1. `index()`** - Returns the index of a given item within the tuple

In [7]:
num_tuple.index(3)

3

**2. `count()`** - Counts the number of occurences of the given item within the list

In [8]:
num_tuple.count(3)

1

## Sets

Sets are another type of data structure that only collects unique values.

To define a set in Python, simply use curly brackets containing the comma-separated values. Duplicates, if any, will automatically be removed upon creation of the set.

In [9]:
num_set = {1, 2, 3, 4, 5, 4, 3, 2, 1}
num_set

{1, 2, 3, 4, 5}

In [10]:
type(num_set)

set

You can also create a new set from other data structures using the `set()` function:

In [11]:
set("abracadabra")

{'a', 'b', 'c', 'd', 'r'}

You can also use `set()` to create a new empty set (because simply using empty curly brackets `{}` will create a new dictionary instead):

In [12]:
type({})

dict

In [13]:
empty_set = set()
empty_set

set()

In [14]:
type(empty_set)

set

### Built-in Set Methods

**1. `add()`** - Adds an item into the set, if it isn't already in the set.

In [15]:
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

In [16]:
num_set.add(3)
num_set

{1, 2, 3, 4, 5, 6}

**2. `remove()`** - Removes an item from the set.

In [17]:
num_set.remove(6)
num_set

{1, 2, 3, 4, 5}

> WARNING! `remove()` throws an error if the item to be removed is not in the set:

In [18]:
num_set.remove(6)

KeyError: 6

**3. `discard()`** - Removes an item from the set, but does not throw an error if the item to be removed doesn't exist in the set.

In [19]:
num_set.discard(6)
num_set

{1, 2, 3, 4, 5}

**4. `difference()`** - Returns a new set containing the difference between two sets. (i.e. a set that only contains items that are in the first set but not on the other set)

In [20]:
my_set = {1, 2, 3, 4, 5}
your_set = {4, 5, 6, 7, 8, 9, 10}
my_set.difference(your_set)

{1, 2, 3}

You can also simply use the `-` operator to quickly get the difference between two sets:

In [21]:
my_set - your_set

{1, 2, 3}

**5. `difference_update()`** - Removes the items from the first set that also exist in the other set.

In [22]:
their_set = {1, 2, 3, 4, 5}
their_set.difference_update(your_set)
their_set

{1, 2, 3}

**6. `intersection()`** - Returns a new set containing the intersection of two sets (i.e. only the elements that exist in both sets)

In [23]:
my_set.intersection(your_set)

{4, 5}

Yu can also use the `&` operator to quickly get the intersection of two sets:

In [24]:
my_set & your_set

{4, 5}

**7. `union()`** - Returns a new set containing the union of two sets (i.e. all items from both sets, with duplicates removed)

In [25]:
my_set.union(your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

You can also use the `|` operator to quickly get the union of two sets:

In [26]:
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**8. `symmetric_difference()`** - Returns a new set containing the symetric difference of two sets (i.e. items that exist in one set or the other set, but not both)

In [27]:
my_set.symmetric_difference(your_set)

{1, 2, 3, 6, 7, 8, 9, 10}

You can also use the `^` operator to quickly get the symmetric difference of two sets:

In [28]:
my_set ^ your_set

{1, 2, 3, 6, 7, 8, 9, 10}

**9. `isdisjoint()`** - Returns `True` if the two sets do not have an intersection, otherwise returns `False`.

In [29]:
my_set.isdisjoint(your_set)

False

In [30]:
their_set

{1, 2, 3}

In [31]:
their_set.isdisjoint(your_set)

True

**10. `issubset()`** - Returns `True` if **all** of the items in the first set also exist in the other set, otherwise returns `False`.

In [32]:
their_set.issubset(my_set)

True

In [33]:
my_set.issubset(your_set)

False

**11. `issuperset()`** - Returns `True` if the first set contains **all** of the items in the other set, otherwise returns `False`.

In [34]:
my_set.issuperset(their_set)

True

In [35]:
their_set.issuperset(my_set)

False