# Lambdas and Built-in Functions

## Lambdas

Lambdas are unnamed, single-expression functions.

In [1]:
def cube(num):
    return num ** 3

In [2]:
cube2 = lambda num: num ** 3

You can call a lambda function the exact same way you would call a regular function:

In [3]:
cube(3)

27

In [4]:
cube2(3)

27

Lambdas are *unnamed* functions, meaning they have no `__name__` property, even if you store them in a variable.

In [5]:
cube.__name__

'cube'

In [6]:
cube2.__name__

'<lambda>'

The key advantage of lambdas over regular functions is that you do not need to define a whole new function for some piece of code that's going to be called only once. Lambdas are typiclly used as arguments for other functions that take other functions as parameters.

What kind of functions take other functions as parameters, you might ask? Python actually has quite a few helpful ones:

## Built-in functions

**1. `map(fn, collection)`** - Runs the function *fn* to perform some operation for every item in the iterable *collection*, then returns a new map object that contains the result of those operations.

In [7]:
map(cube, [1, 2, 3, 4, 5])

As you can see, `map()` does not return the same type of iterable as you passed in - luckily, you can just as easily convert the map object back to the type that you need:

In [8]:
list(map(cube, [1, 2, 3, 4, 5]))

[1, 8, 27, 64, 125]

Here, you can pass a lambda instead of defining a whole new separate function just to be passed in to `map()`:

In [9]:
list(map(lambda num: num ** 3, [1, 2, 3, 4, 5]))

[1, 8, 27, 64, 125]

**2. `filter(fn, collection)`** - Returns a new object containing only the items in *collection* for which the function *fn* returns `True`.

In [10]:
list(filter(lambda num: num % 2 == 1, range(1,10)))

[1, 3, 5, 7, 9]

**3. `all(collection)`** - Returns `True` if ***ALL*** of the items in *collection* are truthy, otherwise returns `False`.

In [11]:
all([num % 2 == 0 for num in [2, 4, 6, 8, 10]])

True

In [12]:
all([num % 2 == 0 for num in range(1, 10)])

False

**4. `any()`** - Returns `True` if ***ANY*** item in *collection* is truthy, otherwise returns `False`.

In [13]:
any([num % 2 == 0 for num in range(1, 10)])

True

In [14]:
any([False, 0, {}])

False

### Quick side note: Generator Expressions

You can actually omit the square brackets when running the `all()` and `any()` functions. The list comprehension-like expression will now be called a *generator expession*. Generator expressions are a ["high performance, memory efficient generalization of list comprehensions and generators"](https://www.python.org/dev/peps/pep-0289/). For now, you can basically think of these generator expressions as the equivalent of lambdas for list comprehensions - a quick and easy way to create a new single-use list comprehension that you do not need to store or use anywhere else!

In [15]:
all(num % 2 == 0 for num in [2, 4, 6, 8, 10])

True

**5. `sorted(collection, key=None, reverse=False)`** - Similar to the `list.sort()` method, returns a new object containing the sorted items in *collection*. Also optionally accepts a *key* function to decide how to sort the items in *collection*. if `reverse` is set to `True`, the items will be sorted in reverse/descending order instead.

In [16]:
nums = [4, 6, 1, 30, 55, 23]
sorted(nums)

[1, 4, 6, 23, 30, 55]

In [17]:
sorted(nums, reverse=True)

[55, 30, 23, 6, 4, 1]

Unlike `list.sort()` however, this leaves the original collection unchanged:

In [18]:
nums

[4, 6, 1, 30, 55, 23]

You can also specify how to sort the items using a *key* function:

In [19]:
sorted("This is a test string from Andrew".split())

['Andrew', 'This', 'a', 'from', 'is', 'string', 'test']

In [20]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

**6. `max()`** - Returns the largest item in an iterable, or the largest of two or more arguments.

In [21]:
nums

[4, 6, 1, 30, 55, 23]

In [22]:
max(nums)

55

In [23]:
max(*nums)

55

You can also include a *key* function to specify how to compare the items or arguments:

In [24]:
names = ["Isaac", "Magdalene", "Cain", "Eve", "Judas", "Samson", "???", "Azazel", "Lazarus", "Eden"]
max(names, key=lambda n: len(n))

'Magdalene'

**7. `min()`** - Returns the smallest item in an iterable, or the smallest two or more arguments

In [25]:
min(nums)

1

In [26]:
min(4, 6, 1, 30, 55, 23)

1

In [27]:
min(names, key=lambda n: len(n))

'Eve'

**8. `sum(collection, start)`** - Returns the sum of all the values in *collection*. If a *start* value is provided, it will be added to the final result

In [28]:
nums

[4, 6, 1, 30, 55, 23]

In [29]:
sum(nums)

119

In [30]:
sum(nums, 10)

129

**9. `zip(*iterables)`** - Returns an iterator of tuples, where the *i*-th tuple contains the *i*-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted.

In [31]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9, 10]
list(zip(x, y, z))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]